{%- extends "main/base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <br>
    <div class="container">
        <h1>Nuevo Usuario</h1>
            <!--<fb:login-button 
                scope="public_profile,email"
                onlogin="checkLoginState();">
            </fb:login-button>
        <div class="fb-login-button" data-width="" data-size="large" data-button-type="continue_with" data-layout="default" data-auto-logout-link="false" data-use-continue-as="false"></div>
        <hr>
        <h4>O,  regístrate:</h4>-->
        <br>
        <form action="" method = "post">
            <div class="row">
                <div class="col-md-4">
                    {{ wtf.quick_form(form) }}
                </div>
            </div>
        </form>
        <br>
        ¿Ya tienes cuenta? <a href="{{ url_for('auth_bp.login') }}">Inicia sesión</a>
        <br>
    </div>
{% endblock %}