<!--subtemplate for every post-->

<table class="table table-hover">
    <tr>
        <td width="70px">
            <a href="{{ url_for('user_bp.user', username=post.user.username) }}">
                <img src="{{ post.user.avatar(50) }}" />
            </a>
        </td>
        <td>
            <a href="{{ url_for('user_bp.user', username=post.user.username) }}">
                {{ post.user.username }}       
            </a>
            @
            {{ post.timestamp.strftime("%d/%m/%y %H:%M") }}<br>
            {{ post.descripcion }} 
        </td>     
    </tr>
</table>