

{%- extends "main/base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

    <section>
    <br>
    <div class="container contacto">
        <div class="col-md-5">
            <div class="title ">
                <h2 style="color:#f65335">Contáctanos</h2>
                <br>
                <h3>Déjanos saber tus comentarios en la siguiente forma</h3>
                
                <div class="contact-form" style="padding-bottom: 200px;">
                    {{ wtf.quick_form(form) }}
                </div>
            </div>
        </div>
    </div>
    </section>


    
{% endblock %}

