{%- extends "main/base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}


    <div class='container cta'>    
    <div class="header-content">
        <h1>No viajes vacío.</h1>
        <h1>Consigue cargas, fácil.</h1>
        <div class='buttons'>
            <a class="btn btn-primary cta" href="{{ url_for('main_bp.transportistas') }}" role="button">Transportista, carga!</a>
            <a class="btn btn-primary cta" href="{{ url_for('main_bp.embarcadores') }}" role="button">Embarcador, envía!</a>
        </div>
    </div>
    </div>

    <div class="container">
    <section class="promote">
        Encontrar carga nunca había sido tan facil
        <div class="sub-promote">
            Conectamos transportistas con embarcadores para hacer el proceso de encontrar cargas sencillo y rápido
        </div>
    </section>

    <section class="reasons">
        <div class="reason 1">
            <div class="reason-title">Rápido</div>
            <div class="reason-more">
                Oferta tus cajas vacias o tus cargas en menos de dos minutos.
            </div>
        </div>
        <div class="reason 2">
            <div class="reason-title">Tus cuotas</div>
            <div class="reason-more">
                No mas intermediarios que inflan el precio del flete, haz solo tratos directos.
            </div>
        </div>
        <div class="reason 3">
            <div class="reason-title">Eficiente</div>
            <div class="reason-more">
                Toda la información del viaje está aquí, olvídate de no recibir respuesta a tus preguntas
            </div>
        </div>
    </section>
    </div>

    <div class="container">
    <hr>
    <h3 style="text-align: center; margin-bottom: 30px; font-size: 25px; font-weight: bold; color:#f65335;">
        Transportista, ofrece aquí tu equipo</h3></div>
    <a id="form_tr"></a>
    {% if form %}
    <form action="" method="post">
        {{ form.csrf_token() }}
        <div class="form-row">
          <div class="form-group col-md-6">
            {{ wtf.form_field(form.origen, class='form-control', placeholder='Monterrey') }}
          </div>
          <div class="form-group col-md-6">
            {{ wtf.form_field(form.destino, class='form-control', placeholder='Ciudad de México') }}
          </div>
        </div>
        <div class="form-group col-md-6">
            {{ wtf.form_field(form.equipo, class='form-control', placeholder='\"Tengo una caja de 48\"') }}
        </div>
        <div class="form-group col-md-6">
            {{ wtf.form_field(form.precio_total_deseado, class='form-control', placeholder='\"¿Cuál es tu tarifa para este flete?\"') }}
        </div>
        <div class="form-group">
            {{ wtf.form_field(form.descripcion, class='form-control', placeholder='\"Tengo la certificación....\"') }}
        </div>    
        <div class="form-row">
          <div class="form-group col-md-6">
            {{ wtf.form_field(form.contacto, class='form-control', placeholder='Forma de contacto principal') }}
          </div>
        </div>
        <br>
        <div>{{ wtf.form_field(form.submit, class='btn btn-primary', placeholder='Contacto preferido') }}</div>
    </form>
    {% endif %}
    <br>
    <div class="reason-title" style="margin-bottom:10px; margin-top: 20px; text-align: center;">
        ¿Es tu primera vez aqui?
    </div>
    <div class="col text-center">
        <a class="btn btn-primary cta" href="{{ url_for('main_bp.transportistas', _anchor='cptinline') }}" role="button" style="margin-top: 5px;">Revisar cargas disponibles</a>
    </div>
    </div>

    




    <br>
    <br>



{%- endblock %}
