<!--This is the index template-->
{%- extends "main/base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class='container cta'>    
    <div class="header-content">
        <h1>No viajes vacío</h1>
        <h1>Consigue cargas, fácil</h1>
        <div class='buttons'>
            <a class="btn btn-primary cta" href="{{ url_for('main_bp.transportistas') }}" role="button">Transportista, consigue fletes!</a>
            <a class="btn btn-primary cta" href="{{ url_for('main_bp.embarcadores') }}" role="button">Embarcador, envía!</a>
        </div>
    </div>
    </div>
    <br>
    <h1>To do: Pagina de inicio</h1>
{%- endblock %}
