{%- extends "main/base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block app_content %}

    <div class="container">
        <div class="col-md-5 col-md-offset-1">
                <div class="row">
                    <table class="table table-oferta table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>Autor: {{oferta.user.username}}</th>
                            <th>{{oferta.timestamp.strftime("%d/%m/%y %H:%M")}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th>Origen</th>
                            <td>{{oferta.origen}}</td>
                        </tr>
                        <tr>
                            <th>Destino</th>
                            <td>{{oferta.destino}}</td>
                        </tr>
                        {%if not oferta.equipo_solicitado%}
                        <tr>
                            <th>Equipo disponible</th>
                            <td>{{oferta.equipo}}</td>
                        </tr>
                        <!--<tr>
                            <th>Total a pagar</th>
                            <td>{{oferta.precio_total_deseado}}</td>
                        </tr>-->
                        {% else %}
                        <tr>
                            <th>Equipo solicitado</th>
                            <td>{{oferta.equipo_solicitado}}</td>
                        </tr>
                        <tr>
                            <th>Tipo de carga</th>
                            <td>{{oferta.carga}}</td>
                        </tr>
                        <tr>
                            <th>Total a cobrar</th>
                            <td>{{oferta.precio_por_unidad_ofertado}}</td>
                        </tr>
                        {% endif %}
                        <tr>
                            <th>Más información</th>
                            <td>{{oferta.descripcion}}</td>
                        </tr>
                        <tr>
                            <th>Contacto</th>
                            <td>{{oferta.contacto}}</td>
                        </tr>
                        </tbody>
                    </table>
            </div>
        </div>
    </div>
    {%if oferta.user.id == current_user.id %}
        <div class="container">
            <form method="POST" action=  "{{ url_for('main_bp.posts', role=oferta.__tablename__, post_id=oferta.id) }}" >
                <div class="offer-buttons" style="align-items: flex-start; text-align: center;">
                    <!--<button class="btn btn-info" type="submit" value="edit" name="edit">Edit</button>-->
                    <button class="btn btn-danger" type="submit" value="delete" name="delete">Borrar Anuncio</button>
                </div>
            </form>
        </div>
    {% endif %}

    <section>
        <div class="container comments">
            <form action=  "{{ url_for('main_bp.posts', role=oferta.__tablename__, post_id=oferta.id) }}" method="POST" value="comment">
                {{ form.csrf_token() }}
                <div class="form-row" style="text-align: center; align-items: left">
                  <div class="form-group col-md-5 col-md-offset-1" >
                    {{ wtf.form_field(form.comment, class='form-control', placeholder='escribe un comentario') }}
                  </div>
                </div>
                <br>
                <div>{{ wtf.form_field(form.submit, class='btn btn-primary', placeholder='', style='background-color:#f65335; border:none;') }}</div>
            </form>
        </div>
    </section>

    <h2 style="text-align: center;">Comentarios</h2>
    <br>
    <p class="card-text" >
        {% if not comments %}

        {%endif%}
            <h5 style="text-align: center;">Escribe el primer comentario!</h5>
        {% for comment in comments %}
            {% include 'main/_comment.html' %}
        {% endfor %}  
    </p>

    
    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> Más nuevos
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    Más antiguos <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>

{% endblock %}