{%- extends "main/base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

    <div class="container">
        
        <br>
        <h1>Política de privacidad de CargaMX</h1>
        <br>
        <body>
            Política de privacidad de CargaMX
            CargaMX opera el sitio web www.cargamx.com..

            Esta página se utiliza para informar a los visitantes del sitio web sobre nuestras políticas con la recopilación, uso y divulgación de Información personal si alguien decide utilizar nuestro Servicio, el sitio web CargaMX.

            Si elige utilizar nuestro Servicio, entonces acepta la recopilación y el uso de información en relación con esta política. La información personal que recopilamos se utiliza para proporcionar y mejorar el servicio. No usaremos ni compartiremos su información con nadie excepto como se describe en esta Política de Privacidad. Nuestra Política de privacidad se creó con la ayuda del Generador de plantillas de política de privacidad.

            Los términos utilizados en esta Política de privacidad tienen el mismo significado que en nuestros Términos y Condiciones, a los que se puede acceder en www.cargamx.com, a menos que se defina lo contrario en esta Política de privacidad.

            <h4>Recopilación y uso de información</h4>
            
            Para una mejor experiencia al utilizar nuestro Servicio, es posible que le solicitemos que nos proporcione cierta información de identificación personal, que incluye, entre otros, su nombre, número de teléfono y dirección de correo electrónico.  La información que recopilamos se utilizará para contactarlo o identificarlo.

            <h4>Dato de registro</h4>
            Queremos informarle que cada vez que visita CargaMX.com, recopilamos información que su navegador nos envía y que se denomina Datos de registro. Estos Datos de registro pueden incluir información como la dirección de Protocolo de Internet ("IP") de su computadora, la versión del navegador, las páginas de nuestro Servicio que visita, la hora y la fecha de su visita, el tiempo dedicado a esas páginas y otras estadísticas.

            <h4>Cookies</h4>
            Las cookies son archivos con una pequeña cantidad de datos que se utilizan comúnmente como un identificador único anónimo. Estos se envían a su navegador desde el sitio web que visita y se almacenan en el disco duro de su dispositivo.
            Nuestro sitio web utiliza estas "cookies" para recopilar información y mejorar nuestro Servicio. Tiene la opción de aceptar o rechazar estas cookies y saber cuándo se envía una cookie a su computadora. Si elige rechazar nuestras cookies, es posible que no pueda utilizar algunas partes de nuestro Servicio.


            <h4>Proveedores de servicio</h4>
            Podemos emplear empresas e individuos de terceros por las siguientes razones:

            <ul style="list-style-type: circle">
                <li>Para facilitar nuestro Servicio;</li>
                <li>Para proporcionar el Servicio en nuestro nombre;</li>
                <li>Para realizar servicios relacionados con el servicio; </li>
                <li>Para ayudarnos a analizar cómo se utiliza nuestro Servicio.</li>
            </ul>
            Queremos informar a los usuarios de nuestro Servicio que estos terceros tienen acceso a su Información personal. El motivo es realizar las tareas que se les asignen en nuestro nombre. Sin embargo, están obligados a no divulgar ni utilizar la información para ningún otro propósito.
            
            <h4>Seguridad</h4>
            Valoramos su confianza al proporcionarnos su información personal, por lo que nos esforzamos por utilizar medios comercialmente aceptables para protegerla. Pero recuerde que ningún método de transmisión a través de Internet o método de almacenamiento electrónico es 100% seguro y confiable, y no podemos garantizar su absoluta seguridad.

            <h4>Enlaces a otros sitios</h4>
            Nuestro Servicio puede contener enlaces a otros sitios. Si hace clic en el enlace de un tercero, se le dirigirá a ese sitio. Tenga en cuenta que estos sitios externos no son operados por nosotros. Por lo tanto, le recomendamos encarecidamente que revise la Política de privacidad de estos sitios web. No tenemos control ni asumimos ninguna responsabilidad por el contenido, las políticas de privacidad o las prácticas de los sitios o servicios de terceros.

            <h4>Cambios a esta política de privacidad</h4>
            Es posible que actualicemos nuestra Política de privacidad de vez en cuando. Por lo tanto, le recomendamos que revise esta página periódicamente para detectar cualquier cambio. Le notificaremos de cualquier cambio publicando la nueva Política de privacidad en esta página. Estos cambios entran en vigencia inmediatamente después de su publicación en esta página.

            <h4>Preguntas acerca del aviso de privacidad</h4>
            Si tiene alguna pregunta o sugerencia sobre nuestra Política de privacidad, contáctenos con el enlace de "Ayuda" en el pié de página
        </body>
    </div>

    <br>
    <br>
    <br>

{% endblock %}