<!--This is the index template-->
{%- extends "main/base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}





{% block app_content %}
    <div class="container">
        <section class="como-f"> 
            <h1 style="color: #f65335; text-align: center; padding: 20px 20px;">¿Cómo funciona?</h1>
        
                <div class="steps">
                    <div class="step"><a href="#form_tr"><img src="static/img/paso1_tr.png" alt="" class="logo" /></a></div>
                    <div class="step"><a href="#cptinline"><img src="static/img/paso2_tr.png" alt="" class="logo" ></a></div>
                    <div class="step"><a href="#"><img src="static/img/paso3_tr.png" alt="" class="logo" /></a></div>
                </div>
        </section>
        
        <br>
            <a href = "#form_tr" ><h3 style="color: #333;; text-align: center; font-size: 25; font-style: bold; text-transform: uppercase; font-weight: 400;">   Oferta tus cajas vacías y consigue carga fácil y rápido   </h2>
            </a>
        </div>
    {% if current_user.username %}
    <!--<h1>Hola, {{ current_user.username }}!</h1>-->
    {% else %}
    <!--<h3>Inicia sesión para ofertar tus cajas vacías</h3>-->
    {% endif %}
    <hr>
    <a id="form_tr"></a>
    <div class="container">
    {% if form %}
    <form action="" method="post">
        {{ form.csrf_token() }}
        <div class="form-row">
          <div class="form-group col-md-6">
            {{ wtf.form_field(form.origen, class='form-control', placeholder='Monterrey') }}
          </div>
          <div class="form-group col-md-6">
            {{ wtf.form_field(form.destino, class='form-control', placeholder='Ciudad de México') }}
          </div>
        </div>
        <div class="form-group col-md-6">
            {{ wtf.form_field(form.equipo, class='form-control', placeholder='\"Tengo una caja de 48\"') }}
        </div>
        <!--<div class="form-group col-md-6">
            {{ wtf.form_field(form.precio_total_deseado, class='form-control', placeholder='\"¿Cuál es tu tarifa para este flete?\"') }}
        </div>-->
        <div class="form-row ">
        <div class="form-group col-md-12">
            {{ wtf.form_field(form.descripcion, class='form-control', placeholder='\"Tengo licencia federal....\" \n \"Mi equipo tiene GPS\"') }}
        </div>
        </div>    
        <div class="form-row">
          <div class="form-group col-md-6">
            {{ wtf.form_field(form.contacto, class='form-control', placeholder='Forma de contacto principal') }}
          </div>
        </div>
        <br>
        <div class="form-row">
            <div class="form-group col-md-3" style="margin-top: 2%;">{{ wtf.form_field(form.submit, class='btn btn-primary', placeholder='') }}</div>
        </div>  
    </form>
    {% endif %}
    </div>


    <a id="cptinline"></a>
    <h1 style="text-align: center;">Cargas para ti:</h1>
    <br>
    <p class="card-text" >
        {% for post in posts %}
            {% include 'main/_post.html' %}
        {% endfor %}  
    </p>

    
    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> Más nuevos
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    Más antiguos <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
{%- endblock %}
