{%- extends "main/base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}


    <fb:login-button
    id="FBloginBtn"
    class="fb-login-button" 
    scope="public_profile,email"
    onlogin="checkLoginState();">
    </fb:login-button>
    <div id="FBlogoutBtn" onclick = "logout();" style="display: none;">LOGOUT</div>

    <!--<div id="FBloginBtn" class="fb-login-button" data-width="" data-size="large" data-button-type="continue_with" data-layout="default" data-auto-logout-link="false" data-use-continue-as="false"></div>
        <br>
        <-->
        <!--<div class="fb-login-button" data-width="" onclick="checkFBlogin();" data-size="large" data-button-type="continue_with" data-layout="default" data-auto-logout-link="false" data-use-continue-as="false"></div>-->
    <div id="name"></div>
    <div id="email"></div>
    <div id="id"></div>
    <div id="status">
    </div>
    <br>
{% endblock %}
{% block scripts %}
    <script src="static/trial.js"></script>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>
{% endblock %}
